.site-header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.sitenav-wrapper{
    display: flex;
    align-items: center;
}

.sitenav-list{
    display: flex;
    list-style: none;
}

.sitenav-link{
    font-family: "Roboto",  "Arial",  sans-serif;
    color: black;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    text-decoration: none;
}
 
.orange-btn{
    color: white;
    font-family: "Roboto",  sans-serif;
    font-family: Roboto;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.03125rem;
    border-radius: 0.25rem;
    background-color: #FF7500;
    text-decoration: none;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
}

.hero-content{
    width: 387px;
}

.hero-heading{
    color: #fff;
}

.hero-text{
    color: white;
    font-size: 1rem;
    font-family:"Roboto",  "Arial",  sans-serif ;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03125rem;
}

.hero-heading{
    font-size: 2.5rem;
    font-style: normal;
    font-family:"Roboto",  "Arial",  sans-serif;
    font-weight: 700;
    line-height: 1.2; 
    letter-spacing: 0.03125rem;
}

.orange-line{
    width: 5rem;
    height: 0.1875rem;
    background-color:#FF7500 ;
    border: 0;
}

.features-heading{
    font-family: "Roboto" Condensed,  "Arial",  sans-serif;
    width: 435px;
    color: #000;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03125rem;
}

.features-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

.features-item{
    width: 340px;
}

.features-title{
    font-size: 1.5rem; 
    font-weight: 700;
    font-family: "Roboto" Condensed,  "Arial",  sans-serif;
    line-height: 1.2;
    letter-spacing: 0.03125rem;
}

.features-text{
    font-size: 1rem;
    font-weight: 400;
    font-family:"Roboto",  "Arial",  sans-serif;
    line-height: 1.5;
    letter-spacing: 0.03125rem;
}

.promo-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#252420 ;
    color: #fff;
}

.promo-heading{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Roboto" Condensed,  "Arial",  sans-serif;
    line-height: 1.2;
    letter-spacing: 0.03125rem;
}

.promo-content{
    width: 440px;
}

.promo-text{
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto",  "Arial",  sans-serif;
    line-height: 1.5;
    letter-spacing: 0.03125rem;
}

.promo-text span{
    color: #FF7500;
    font-family: "Roboto",  "Arial",  sans-serif;
    font-weight: 700;

}

.promo-img{
    width: 440px;
    height: 440px;
    border-radius: 12;
}

.site-footer{
    background-color: #f8f8f8;
    justify-content: space-evenly;
}

.site-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer-social-list{
    display: flex;
    align-items: center;
    list-style: none;
}



.site-footer-social-link{
    width: 24px;
    height: 24px;
}
   


.footer-hr{
    height: 2px;
}

.site-footer-bottom{
    display: flex;
    justify-content: space-between;
}

.site-footer-list{
    width: 224px;
    list-style: none;
    color: #252420;
}

.site-footer-link{
    color: #252420;
    font-size: 1rem;
    font-style: normal;
    font-family: "Roboto",  "Arial",  sans-serif; 
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}